<form action="/create_routine_product_from_product" method="post">

  <div class="form-group">
    <label for="routine_id">
      Routine
    </label>

    <%= select_tag(:routine_id, options_from_collection_for_select(Routine.all, :id, :customer_id, @routine_product.routine_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="product_id" value="<%= @product.id %>">

  <div class="form-group">
    <label for="special_note">
      Special note
    </label>

    <textarea id="special_note" name="special_note" class="form-control" rows="3"><%= @routine_product.special_note %></textarea>
  </div>

  <div class="form-group">
    <label for="time_of_day">
      Time of day
    </label>

    <input type="text" id="time_of_day" name="time_of_day" class="form-control" value="<%= @routine_product.time_of_day %>">
  </div>

  <div class="form-group">
    <label for="use_frequency">
      Use frequency
    </label>

    <input type="text" id="use_frequency" name="use_frequency" class="form-control" value="<%= @routine_product.use_frequency %>">
  </div>

  <div class="form-group">
    <label for="primary_concern_id">
      Primary concern
    </label>

    <%= select_tag(:primary_concern_id, options_from_collection_for_select(Concern.all, :id, :name, @routine_product.primary_concern_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create routine product
  </button>
</form>
