<h1>
  Edit product #<%= @product.id %>
</h1>

<hr>

<form action="/update_product/<%= @product.id %>" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @product.name %>">
  </div>

  <div class="form-group">
    <label for="image">
      Image
    </label>

    <%= cl_image_tag(@product.image.to_s, :width => 90, :height => 90, :crop => :thumb) %>
    <input type="file" id="image" name="image" class="form-control">
  </div>

  <div class="form-group">
    <label for="category_id">
      Category
    </label>

    <%= select_tag(:category_id, options_from_collection_for_select(Category.all, :id, :category, @product.category_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <textarea id="description" name="description" class="form-control" rows="3"><%= @product.description %></textarea>
  </div>

  <div class="form-group">
    <label for="price">
      Price
    </label>

    <input type="text" id="price" name="price" class="form-control" value="<%= @product.price %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update product
  </button>
</form>

<hr>

<a href="/products">
  Go back
</a>
