<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Customer #<%= @customer.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/customers" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/customers/<%= @customer.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit customer
        </a>
      </div>

    </div>

    <dl>
      <dt>
        Email
      </dt>
      <dd>
        <%= @customer.email %>
      </dd>

      <dt>
        Password
      </dt>
      <dd>
        <%= @customer.password %>
      </dd>

      <dt>
        Phonenumber
      </dt>
      <dd>
        <%= @customer.phonenumber %>
      </dd>

      <dt>
        Firstname
      </dt>
      <dd>
        <%= @customer.firstname %>
      </dd>

      <dt>
        Lastname
      </dt>
      <dd>
        <%= @customer.lastname %>
      </dd>

      <dt>
        Optin texts
      </dt>
      <dd>
        <%= @customer.optin_texts %>
      </dd>

      <dt>
        Optin email
      </dt>
      <dd>
        <%= @customer.optin_email %>
      </dd>

      <dt>
        Date firstconsultation
      </dt>
      <dd>
        <%= @customer.date_firstconsultation %>
      </dd>

      <dt>
        Date lastconsultation
      </dt>
      <dd>
        <%= @customer.date_lastconsultation %>
      </dd>

      <dt>
        Address street
      </dt>
      <dd>
        <%= @customer.address_street %>
      </dd>

      <dt>
        Address city
      </dt>
      <dd>
        <%= @customer.address_city %>
      </dd>

      <dt>
        Address state
      </dt>
      <dd>
        <%= @customer.address_state %>
      </dd>

      <dt>
        Address zipcode
      </dt>
      <dd>
        <%= @customer.address_zipcode %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@customer.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@customer.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "customer_templates/customer_customer_concerns" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "customer_templates/customer_routines" %>
  </div>
</div>
